<form [formGroup]="subscriptionForm" (ngSubmit)="submit()">

  <div>
    <label for="name">Subscription name:</label>
    <input type="text" id="name" formControlName="name" required>
  </div>

  <button type="submit" [disabled]="!subscriptionForm.valid">Submit</button>
</form>
<a routerLink="/subscriptions">Back to List</a>
