<div *ngIf="service">
  <ul>
    <li>{{service.name}}</li>
    <li>{{service.label}}</li>
    <li>{{service.class}}</li>
    <li><a routerLink="roles">Roles</a></li>
  </ul>
  <a [routerLink]="['/connectors', service.connector_id, 'services']">Back to List</a>
</div>

