<button [routerLink]="['add']">Add Role</button>
<table summary="Role list">
  <caption>Role list</caption>
  <thead>
  <tr>
    <th scope="col">Role name</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let role of roles">
    <td>{{role.name}}</td>
    <td>
      <button [routerLink]="[role.id, 'edit']">Edit</button>
      <button (click)="deleteRole(role)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<a [routerLink]="['/connectors', connectorId, 'services', serviceId]">Back to service</a>
