<button [routerLink]="['add']">Add Subscription</button>
<table summary="Subscription list">
  <caption>Subscription list</caption>

  <thead>
  <tr>
    <th scope="col">Subscription</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let subscription of subscriptions">
    <td><a [routerLink]="[subscription.id]">{{subscription.name}}</a></td>
    <td>
      <button [routerLink]="[subscription.id, 'edit']">Edit</button>
      <button (click)="deleteSubscription(subscription);">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
