<button [routerLink]="['add']">Add Service</button>
<table summary="Member list">
  <caption>Service list</caption>
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Label</th>
    <th scope="col">Class</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let service of services">
    <td><a [routerLink]="[service.id]">{{service.name}}</a></td>
    <td>{{service.label}}</td>
    <td>{{service.class}}</td>
    <td>
      <button [routerLink]="[service.id, 'edit']">Edit</button>
      <button (click)="deleteService(service)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
<a [routerLink]="['/connectors', connectorId]">Back to connector</a>

