<form [formGroup]="localGovernmentForm" (ngSubmit)="submit()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" [(ngModel)]="localGovernment.name" required>
    <div *ngIf="formErrors.name">
      {{ formErrors.name}}
    </div>
  </div>

  <div>
    <label for="siren">Siren:</label>
    <input type="text" id="siren" formControlName="siren" [(ngModel)]="localGovernment.siren" maxlength="9">
    <div *ngIf="formErrors.siren">
      {{ formErrors.siren}}
    </div>
  </div>

  <div>
    <label for="subscription">Subscription:</label>
    <select id="subscription" formControlName="subscription_id"  [(ngModel)]="localGovernment.subscription_id">
      <option *ngFor="let subscription of subscriptions" [ngValue]="subscription.id">{{subscription.name}}</option>
    </select>
    <div *ngIf="formErrors.subscription_id">
      {{ formErrors.subscription_id}}
    </div>
  </div>

  <div>
    <label for="pooling_local_government">Pooling local government:</label>
    <select id="pooling_local_government" formControlName="pooling_local_governments_id"  [(ngModel)]="localGovernment.pooling_local_governments_id">
      <option value="" selected>--None--</option>
      <option *ngFor="let localGvt of poolingLocalGovernments" [ngValue]="localGvt.id">{{localGvt.name}}</option>
    </select>
  </div>

  <button type="submit" [disabled]="!localGovernmentForm.valid">Submit</button>
</form>

<a routerLink="/local_governments">Back to List</a>
