<form [formGroup]="roleForm" (ngSubmit)="submit()">

  <div>
    <label for="name">Role name:</label>
    <input type="text" id="name" formControlName="name" required>
  </div>

  <button type="submit" [disabled]="!roleForm.valid">Submit</button>
</form>
<a [routerLink]="['/connectors', connector_id, 'services', service_id, 'roles']">Back to List</a>
