<form [formGroup]="serviceForm" (ngSubmit)="submit()">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" [(ngModel)]="service.name" required>
    <div *ngIf="formErrors.name">
      {{ formErrors.name }}
    </div>
  </div>

  <div>
    <label for="label">Label:</label>
    <input type="text" id="label" formControlName="label" [(ngModel)]="service.label">
    <div *ngIf="formErrors.label">
      {{ formErrors.label}}
    </div>
  </div>

  <div>
    <label for="class">Class:</label>
    <input type="text" id="class" formControlName="class" [(ngModel)]="service.class">
  </div>

  <button type="submit" [disabled]="!serviceForm.valid">Submit</button>
</form>
<a [routerLink]="['/connectors', connector_id, 'services']">Back to List</a>
