<ul *ngFor="let service of servicesData" class="services">
  <li><a href="{{service.url}}">{{service.name}}</a>
    <ul *ngFor="let data of service.data">
      <li>
        <a href="{{data.link}}">{{data.label}}</a>
      </li>
    </ul>
  </li>
</ul>
