<form [formGroup]="memberRolesForm" (ngSubmit)="submit()">

  <div>
    <label for="role_id">Role:</label>
    <select id="role_id" formControlName="role_id" required>
      <option *ngFor="let role of roles" [ngValue]="role.id">{{role.name}}</option>
    </select>
  </div>

  <button type="submit" [disabled]="!memberRolesForm.valid">Submit</button>
</form>
<a routerLink="..">Back to Member Roles List</a>
