<h2>Member: {{member?.name}}</h2>
<a routerLink="add">Add role</a>
<table summary="Member Roles list">
  <caption>Member Roles list</caption>
  <thead>
  <tr>
    <th scope="col">Role name</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let role of memberRoles">
    <td>{{role.name}}</td>

    <td>
      <button (click)="removeRole(role);">Remove</button>
    </td>
  </tr>
  </tbody>
</table>
<a [routerLink]="['/local_governments',localGovernmentId, 'members']">Back to Member List</a>
