<form [formGroup]="connectorForm" (ngSubmit)="submit()">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name"  [(ngModel)]="connector.name" required>
    <div *ngIf="formErrors.name">
      {{ formErrors.name }}
    </div>
  </div>

  <div>
    <label for="label">Label:</label>
    <input type="text" id="label" formControlName="label" [(ngModel)]="connector.label">
    <div *ngIf="formErrors.label">
      {{ formErrors.label}}
    </div>
  </div>

  <div>
    <label for="url">URL:</label>
    <input type="text" id="url" formControlName="url" [(ngModel)]="connector.url">
    <div *ngIf="formErrors.url">
      {{ formErrors.url }}
    </div>
  </div>

  <button type="submit" [disabled]="!connectorForm.valid">Submit</button>
</form>

<a routerLink="/connectors">Back to List</a>
