<h2>Local Government: {{localGovernment?.name}}</h2>

<a routerLink="add">Add a member</a>

<table summary="Member list">
  <caption>Member list</caption>
  <thead>
  <tr>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">Superadmin</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let member of members">
    <td><a [routerLink]="[member.id, 'roles']">{{member.name}}</a></td>
    <td>{{member.mail}}</td>
    <td>{{member.firstname}}</td>
    <td>{{member.lastname|uppercase}}</td>
    <td>{{member.superadmin}}</td>

    <td>
      <button (click)="removeMember(member);">Remove</button>
    </td>
  </tr>
  </tbody>
</table>

<a [routerLink]="['/local_governments', localGovernmentId]">Back to local government</a>
