<button [routerLink]="['add']">Add Connector</button>
<table summary="Connector list">
  <caption>Connector list</caption>

  <thead>
  <tr>
    <th scope="col">Connector name</th>
    <th scope="col">Connector label</th>
    <th scope="col">URL</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let connector of connectors">
    <td><a [routerLink]="[connector.id]">{{connector.name}}</a></td>
    <td>{{connector.label}}</td>
    <td>{{connector.url}}</td>
    <td>
      <button [routerLink]="[connector.id, 'edit']">Edit</button>
      <button (click)="deleteConnector(connector);">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
