<form [formGroup]="userForm" (ngSubmit)="submit()">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name" [(ngModel)]="user.name" required>
    <div *ngIf="formErrors.name">
      {{ formErrors.name }}
    </div>
  </div>

  <div>
    <label for="mail">Mail:</label>
    <input type="email" id="mail" formControlName="mail" [(ngModel)]="user.mail">
    <div *ngIf="formErrors.mail">
      {{ formErrors.mail }}
    </div>
  </div>

  <div>
    <label for="firstname">Firstname:</label>
    <input type="text" id="firstname" formControlName="firstname" [(ngModel)]="user.firstname">
    <div *ngIf="formErrors.firstname">
      {{ formErrors.firstname}}
    </div>
  </div>

  <div>
    <label for="lastname">Lastname:</label>
    <input type="text" id="lastname" formControlName="lastname"  [(ngModel)]="user.lastname">
    <div *ngIf="formErrors.lastname">
      {{ formErrors.lastname}}
    </div>
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password"  [(ngModel)]="user.password">
    <div *ngIf="formErrors.password">
      {{ formErrors.password}}
    </div>
  </div>

  <div>
    <label for="superadmin">Superadmin:</label>
    <input type="checkbox" id="superadmin" formControlName="superadmin"  [(ngModel)]="user.superadmin">
    <div *ngIf="formErrors.password">
      {{ formErrors.password}}
    </div>
  </div>

  <button type="submit" [disabled]="!userForm.valid">Submit</button>
</form>

<a routerLink="/users">Back to List</a>
