<ul *ngIf="localGovernment">
  <li>{{localGovernment.name}}</li>
  <li>{{localGovernment.siren}}</li>
  <li>{{localGovernment.subscription_id}}</li>
  <li *ngIf="localGovernment.pooling_local_governments_id">{{localGovernment.pooling_local_governments_id}}</li>
  <li *ngIf="!localGovernment.pooling_local_governments_id">None</li>
  <li><a routerLink="members">Members</a></li>
</ul>
<a routerLink="/local_governments">Back to List</a>
