<ul *ngIf="connector">
  <li>{{connector.name}}</li>
  <li>{{connector.label}}</li>
  <li>{{connector.url}}</li>
  <li><a routerLink="services">Services</a></li>
</ul>
<a routerLink="/connectors">Back to List</a>
