<button [routerLink]="['/users/add']">Add user</button>
<table>
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Superadmin</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td><a [routerLink]="['/users', user.id]">{{user.name}}</a></td>
    <td>{{user.mail}}</td>
    <td>{{user.firstname}}</td>
    <td>{{user.lastname|uppercase}}</td>
    <td>{{user.superadmin}}</td>
    <td>
      <button [routerLink]="['/users', user.id, 'edit']">Edit</button>
      <button (click)="delete(user);">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
