<form [formGroup]="memberForm" (ngSubmit)="submit()">

  <div>
    <label for="user_id">User id:</label>
    <select id="user_id" formControlName="user_id" required>
      <option *ngFor="let user of users" [ngValue]="user.id">{{user.name}}</option>
    </select>
    <div *ngIf="formErrors.user_id">
      {{ formErrors.user_id}}
    </div>
  </div>

  <div>
    <label for="local_government_administrator">Administrator:</label>
    <input type="checkbox" id="local_government_administrator" formControlName="local_government_administrator">
  </div>

  <button type="submit" [disabled]="!memberForm.valid">Submit</button>
</form>

<a routerLink="..">Back to Member List</a>
