<ul  *ngIf="user">
  <li>{{user.name}}</li>
  <li>{{user.mail}}</li>
  <li>{{user.firstname}}</li>
  <li>{{user.lastname|uppercase}}</li>
  <li>{{user.superadmin}}</li>
</ul>
<a routerLink="/users">Back to List</a>
