<button [routerLink]="['/local_governments/add']">Add Local Government</button>
<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Siren</th>
    <th>Subscription</th>
    <th>Pooling local government</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let localGovernment of localGovernments">
    <td><a [routerLink]="['/local_governments', localGovernment.id]">{{localGovernment.name}}</a></td>
    <td>{{localGovernment.siren}}</td>
    <td>{{localGovernment.subscription_id}}</td>

    <td *ngIf="localGovernment.pooling_local_governments_id">{{localGovernment.pooling_local_governments_id}}</td>
    <td *ngIf="!localGovernment.pooling_local_governments_id">None</td>

    <td>
      <button [routerLink]="['/local_governments', localGovernment.id, 'edit']">Edit</button>
      <button (click)="deleteLocalGovernment(localGovernment);">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
